/* Estilos base para la página de equipos */
.equipos {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

/* Estilo para la disposición en filas */
.equipos-rows {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-content: center;
    margin: 20px 0;
    padding-top: 40px;
    width: 500px;
}

/* Estilos básicos del botón */
.detalles {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #ff0000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: all 0.3s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-top: 5%;
}

/* Estilos de la animación */
.detalles::before {
    content: "";
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    transition: all 0.3s;
    z-index: -1;
}

.detalles:hover {
    color: #ffffff;
    transform: scale(1.05); /* Aumentar el tamaño en un 5% */
    border-color: #020202; /* Cambiar el color del borde */
}

.detalles:hover::before {
    left: 0;
}

/* Estilo para los cuadros individuales */
.equipos-cuadro {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%; /* Ancho ajustable para responsividad */
    background-color: rgba(0, 0, 0, 0.8); /* Fondo semitransparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    
}

/* Estilo para los escudos */
.equipos-escudo img {
    width: 100%;
    max-width: 150px;
    border-radius: 10%;
    transition: transform 0.3s ease;
}

.equipos-escudo img:hover {
    transform: scale(1.1); /* Zoom al pasar el cursor */
}

/* Estilo para la información */
.equipos-info {
    margin-top: 15px;
    text-align: left;
    width: 100%;
    margin-left: 3%;
}

.equipos-titulos {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.equipos-texto {
    font-size: 16px;
    margin: 5px 0;
    line-height: 1.5;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilo para audio */
audio {
    margin-top: 10px;
    width: 100%;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .equipos-cuadro {
        width: 90%;
    }

    .equipos-escudo img {
        max-width: 120px;
    }
    .equipos-rows{
        padding: 0em 1em 0em 1em;
    }
}
