/* Estilos para el título principal (h1) */
h1 {
    color: black; /* El color del texto del título es blanco */
    width: 70%; /* El ancho del título ocupa el 70% del contenedor */
    text-align: center; /* Alinea el texto del título al centro */
    margin-left: 25px; /* Margen izquierdo de 25px */
    margin: auto; /* Centra el título horizontalmente */
    margin-bottom: 3px; /* Margen inferior de 3px */
}

/* Estilos para la sección */
section {
    margin: auto; /* Centra la sección horizontalmente */
    text-align: center; /* Alinea el texto y contenido al centro */
    padding: 1px; /* Espaciado interno de 1px */
    width: 80%; /* El ancho de la sección ocupa el 80% del contenedor */
    background-color: rgba(255, 255, 255, 0.6); /* Fondo blanco semitransparente */
    border-radius: 15px; /* Bordes redondeados de 15px */
    margin-bottom: 50px; /* Margen inferior de 50px */
    margin-top: 15px; /* Margen superior de 15px */
}

/* Estilos para el contenedor de contenido */
.content {
    display: grid; /* Utiliza un grid layout para organizar el contenido */
    grid-template-columns: auto auto auto; /* Tres columnas automáticas en la cuadrícula */
    margin: 15px 15px; /* Margen de 15px alrededor del contenido */
}

/* Estilos para las imágenes */
img {
    margin: auto; /* Centra la imagen horizontalmente */
    width: 90%; /* El ancho de la imagen es el 90% del contenedor */
    grid-column: 1; /* La imagen ocupa la primera columna del grid */
}

/* Estilos para los párrafos */
p {
    margin: 5px; /* Margen de 5px alrededor del párrafo */
    font-size: larger; /* Tamaño del texto más grande de lo normal */
    text-align: justify; /* Alinea el texto del párrafo de forma justificada */
    padding: 10px; /* Espaciado interno de 10px */
    color: black; /* El color del texto es blanco */
}
